.col-md-3.fb-view
        script(src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" async defer crossorigin="anonymous")
        div(class="fb-page" data-href="https://www.facebook.com/parisplayptx" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
          blockquote(cite="https://www.facebook.com/parisplayptx" class="fb-xfbml-parse-ignore")
            a(href="https://www.facebook.com/parisplayptx") Facebook