extends layout

block content
    .container.page-title-container
        h1.page-title About Us
    .container(style="text-align:left")
        .row.align-items-stretch
            .col-md-6.d-flex.flex-column.flex-grow-1
                p.indent Paris Play is an independent, locally owned family business located in Paris, TX. Paris Play is a place for kids and their parents or guardians to connect outside of home and work.
                p.indent Paris Play has been meticulously designed to offer a secure and delightful environment for small children. Our facility features padded edging and a cushioned floor to ensure safety during playtime. 
                p.indent With various themed playsets, children have the perfect canvas to let their imaginations run wild. We offer an array of age-appropriate toys, and we are always adding new ones to keep the fun fresh. 
            .col-md-6.d-flex.flex-column.flex-grow-1
                p.indent We host seasonal holiday activities at no extra cost, and our concession stand provides snacks and drinks for purchase. 
                p.indent At Paris Play, we adore children and are dedicated to ensuring they have the best and most enjoyable experience possible. While we are not a daycare and do not offer drop-off services, we encourage parents to stay and bond with their child. Whether you are actively playing or simply relaxing with a snack and connecting to our guest Wi-Fi, we want you to savor every moment. 
                p.indent Come and play the Paris way!
    hr
    .container.about-info(style="text-align:left")
        table.table.table-responsive
            tr
                td
                    svg(xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16")
                        path(d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z")
                td
                    a(href='tel:903-905-3021') 903-905-3021
            tr
                td
                    svg(xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16")
                        path(d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z")
                td
                    a(href='mailto:ParisPlayPTX@gmail.com') ParisPlayPTX@gmail.com
            tr
                td
                    svg(xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 16 16")
                        path(d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56")
                        path(d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415")
                td
                    a(href='/privacy') Privacy
