extends layout
block content
    .container.page-title-container
        h1.page-title Events
        h2.subtitle Coming soon!
        p Soon, you'll be able to book a birthday party or other event on this page. Stick around for updates soon! In the meantime, please give us a call!