extends layout

block content
  .container  
    .row
      .col-md-12
        img.index-title(src='/images/logo_nobg.png' alt='logo image' style='max-width: 100%; height: auto; text-align:center')
        h2.slogan indoor children's playplace in Paris, TX
        h2 
          a(href='https://maps.app.goo.gl/QjYMd8tCUiMcw2yy8' target='blank') 120 27th St. NE, Ste 200 Paris, Texas 75460
        a.btn.action-button(href='/events') 
          h2 Book your party here!     
  br
  .container
    .row.align-items-stretch
      .col-md-9.d-flex.flex-column.flex-grow-1  
        #imageCarousel.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li(data-target='#imageCarousel', data-slide-to='0', class='active')
            li(data-target='#imageCarousel', data-slide-to='1')
            li(data-target='#imageCarousel', data-slide-to='2')
          .carousel-inner
            .carousel-item.active
                img(src='/images/playroom/parisplay_playRooms3.jpg', class='d-block w-100', alt='Play Rooms', data-toggle='modal', data-target='#imageModal', data-image='/images/playroom/parisplay_playRooms3.jpg')
            .carousel-item
                img(src='/images/playroom/parisplay_cafe1x.jpg', class='d-block w-100', alt='Cafe', data-toggle='modal', data-target='#imageModal', data-image='/images/playroom/parisplay_cafe1x.jpg')
            .carousel-item
                img(src='/images/playroom/parisplay_ballpit.jpg', class='d-block w-100', alt='Ballpit', data-toggle='modal', data-target='#imageModal', data-image='/images/playroom/parisplay_ballpit.jpg')
            .carousel-item
                img(src='/images/playroom/parisplay_castle.jpg', class='d-block w-100', alt='Castle', data-toggle='modal', data-target='#imageModal', data-image='/images/playroom/parisplay_castle.jpg')
            .carousel-item
                img(src='/images/playroom/parisplay_wide.jpg', class='d-block w-100', alt='Wide shot', data-toggle='modal', data-target='#imageModal', data-image='/images/playroom/parisplay_wide.jpg')
            .carousel-item
                img(src='/images/playroom/parisplay_party_room_decorated.jpg', class='d-block w-100', alt='Party room decorated', data-toggle='modal', data-target='#imageModal', data-image='/images/playroom/parisplay_party_room_decorated.jpg')
            .carousel-item
                img(src='/images/playroom/parisplay_party_room_decorated_2.jpg', class='d-block w-100', alt='Party room', data-toggle='modal', data-target='#imageModal', data-image='/images/playroom/parisplay_party_room_decorated_2.jpg')
            .carousel-item
                img(src='/images/playroom/parisplay_rideOns.jpg', class='d-block w-100', alt='Ride Ons', data-toggle='modal', data-target='#imageModal', data-image='/images/playroom/parisplay_rideOns.jpg')
            .carousel-item
                img(src='/images/playroom/parisplay_toddlerWall.jpg', class='d-block w-100', alt='Toddler Wall', data-toggle='modal', data-target='#imageModal', data-image='/images/playroom/parisplay_toddlerWall.jpg')
            .carousel-item
                img(src='/images/playroom/parisplay_picnic.jpg', class='d-block w-100', alt='Picnic', data-toggle='modal', data-target='#imageModal', data-image='/images/playroom/parisplay_picnic.jpg')
            .carousel-item
                img(src='/images/playroom/parisplay_readingCorner.jpg', class='d-block w-100', alt='Reading Corner', data-toggle='modal', data-target='#imageModal', data-image='/images/playroom/parisplay_readingCorner.jpg')

          a.carousel-control-prev(href='#imageCarousel', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(href='#imageCarousel', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
        #imageModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
          .modal-dialog.modal-lg(role='document')
            .modal-content
              .modal-body
                img#modalImage(src='', class='img-fluid')
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
        script.
            $('#imageCarousel').on('slide.bs.carousel', function (e) {
                var image = $(e.relatedTarget).find('img').data('image');
                $('#modalImage').attr('src', image);
            });
        hr
      .col-md-3.d-flex.flex-column.flex-grow-1
        h2.subtitle Hours
        h2 Monday: 10am - 5pm
        h2 Tuesday: 10:30am - 7pm
        h2 Wednesday: 10am - 7pm
        h2 Thursday: 10:30am - 7pm 
        h2 Friday: 10:30am - 7pm
        h2 Saturday: 12pm - 7pm 
        h2 Sunday: 12pm - 5pm
        hr
      .row.align-items-stretch
      .col-md-6.d-flex.flex-column.flex-grow-1 
        h2.subtitle Events
        a(href='images/info_graphics/event_schedule.png') 
          img(src='images/info_graphics/event_schedule.png' alt='event schedule')
        hr
      .col-md-6.d-flex.flex-column.flex-grow-1
        h2.subtitle Prices
        a(href='/images/info_graphics/admission_pricing.png') 
          img(src='/images/info_graphics/admission_pricing.png' alt='admission pricing' style='max-width: 100%; height: auto; text-align:center')
        hr
    .row.align-items-stretch
      .col-md-6.d-flex.flex-column.flex-grow-1
        h2.subtitle Parties!
        a(href='/images/info_graphics/party_packages.png') 
          img(src='/images/info_graphics/party_packages.png' alt='party packages' style='max-width: 100%; height: auto; text-align:center')
        hr
      .col-md-6.d-flex.flex-column.flex-grow-1
        h2.subtitle Food!
        a(href='/images/food_display.jpeg') 
          img(src='/images/food_display.jpeg' alt='food display' style='max-width: 100%; height: auto; text-align:center')
        hr
    .row.align-items-stretch 
      .col-md-6.d-flex.flex-column.flex-grow-1
        h2.subtitle Menu
        a(href='/images/info_graphics/menu.png') 
          img(src='/images/info_graphics/menu.png' alt='menu' style='max-width: 100%; height: auto; text-align:center')
        hr
      .col-md-6.d-flex.flex-column.flex-grow-1
        h2.subtitle Become a Member! 
        a(href='images/info_graphics/memberships.png') 
          img(src='images/info_graphics/memberships.png' alt='memberships')
        hr
    .row.align-items-stretch
      .col-md-6.d-flex.flex-column
        div.flex-grow-1
          h2.subtitle Big Savings! 
          a(href='/images/info_graphics/last_2_hours.png') 
            img(src='/images/info_graphics/last_2_hours.png' alt='Save 40% last 2 hours' style='max-width: 100%; height: auto; text-align:center')
        hr
      .col-md-6.d-flex.flex-column 
        div.flex-grow-1
          h2.subtitle Member Savings!
          a(href='/images/info_graphics/member_savings.png') 
            img(src='/images/info_graphics/member_savings.png' alt='member_savings' style='max-width: 100%; height: auto; text-align:center')
        hr