extends layout
block content
    .container.text-left
        h2.subtitle Privacy & Photo Policy!
        hr
        p Welcome to Paris Play, where fun is serious business (but not too serious). Before you dive into our donut shop or conquer the mighty dragon castle, let's talk privacy and photos, but in a way that won't make your eyes glaze over!
        h2.subtitle Our Approach to Your Data At Paris Play
        hr
        p We treasure the moments we get to share with you, focusing more on creating joy than tracking every move. Our website uses cookies—kind of like digital breadcrumbs—to see how many folks enjoy our site. This helps us make your experience even sweeter, without delving into who you are outside of your love for fun.
        h2.subtitle Cookie Monster Basics
        hr
        p Cookies help our website remember the parts of Paris Play that make you smile the most (which we hope is everything!). If you prefer to keep your web travels under wraps, you're welcome to disable cookies in your browser—no offense taken!
        h2.subtitle Picture This: 
        hr
        p You, On Our Site! We LOVE to show off the fantastic times had by all at Paris Play. But, we're not paparazzi. We only share photos or videos with a thumbs-up from you. Got a pic of your child planting seeds or sharing toys? We'll only post it if you say, "Heck yes, share my glory!"
        h2.subtitle Opting In/Out on Liability Waiver
        hr
        p On our superhero-themed liability waiver, there's a spot giving us an ok for photos. Don't want us to use photos/videos of you or your child? Just write "no photos please." Easy-peasy.
        h2.subtitle Changed Your Mind? 
        hr
        p If you spot a photo on our site or social media and think, "Eh, maybe not," just give us a shout. We'll take it down faster than you can say "Tag, you're it!" Just remember, I'm a one-person web wizard, so in reality it might be an evening task. But I promise to take it down ASAP. You and your child's happiness and safety matters. Contact us via email, phone call, in-person visit, or Facebook Messenger. Contact information is located at the bottom of each webpage.
        h2.subtitle Your Voice Matters 
        hr
        p Updating our policies? You'll hear about it here first. And if you've got questions, suggestions, or a sudden craving for a game of hide-and-seek, drop us a line. We're all ears (except when we're elbows deep in Play-Doh).
        h2.subtitle So, What's the Big Picture? 
        hr
        p Your privacy is a big deal to us, just like ensuring you have an unforgettable time at Paris Play. We're here to make sure you feel as safe and happy in the digital world as you do in our play paradise.
        p Got it? Great! Now, let's get back to playing! 🎉
        i Effective January 1, 2024